* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.navbar {
    position: fixed;
    width: 320px;
    height: 100vh;
    border-right: 0.5px solid #e7e9ea81;
}
/*Menu*/

.navbar .slide-bar {
    margin-left: 3rem;
    margin-top: 1rem;
}

.navbar .slide-bar div {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.navbar .slide-bar div:hover {
    width: 190px;
    background-color: #181818;
    border-radius: 20px;
}

.navbar .slide-bar div:first-child:hover {
    background-color: black;
    cursor: pointer;
}

.navbar .slide-bar img {
    width: 30px;
}

.slide-bar span{
    color: #E7E9EA;
    margin-left: 30px;
    font-size: 20px;
    font-family: sans-serif;
}

.navbar button {
    width: 50%;
    height: 50px;
    position: relative;
    margin-left: 25%;
    background-color: #1a8cd8;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #E7E9EA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
/*BUTTON*/
.navbar button:hover {
    background-color: #167dc2;
}
/*PROFILE SECTION*/
.profile-section {
    width: 280px;
    height: 50px;
    position: fixed;
    bottom: 25px;
    left: 30px;
    font-family: sans-serif;
    font-size: 10px;
    color: #E7E9EA;
    border-radius: 50px;
    cursor: pointer;
}

.profile-section:hover {
    background-color: #181818;
}

.profile-section img {
    width: 50px;
    float: left;
    border-radius: 50%;
}

.profile-section h2 {
    margin-left: 60px;
    font-size: 15px;
    line-height: 40px;
}

.profile-section span {
    float: left;
    position: relative;
    left: 10px;
    line-height: 0;
}

.profile-section .more-svg {
    position: relative;
    float: right;
    bottom: 30px;
    right: 20px;
    width: 30px;
}

/*FIXED MAINPAGE*/
.fixed-home {
    position: fixed;
    color: #E7E9EA;
    border-bottom: 0.5px solid #e7e9ea81;
    width: 600px;
    height: 100px;
    left: 23.5%;
    font-family: sans-serif;
}

.fixed-home h2 {
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.fixed-home span {
    width: 100%;
    cursor: pointer;
    margin-left: 25%;
    font-weight: bolder;
    /*BURADA ACTIVE ÖZELLİĞİ KULLANILACAK*/
    border-bottom: 4px solid #1a8cd8;
}

/*BURADA ACTIVE ÖZELLİĞİ KULLANILACAK*/

.fixed-home span:last-child {
    border: none;
    font-weight: lighter;
}

/*TEXT-ZONE*/
.text-zone {
    position: relative;
    width: 600px;
    height: 130px;
    border-bottom: 0.5px solid #e7e9ea81;
    left: 25%;
    top: 15%;
}

.text-zone-photo {
    position: relative;
    width: 60px;
    border-radius: 50%;
    padding: 10px;
}

.text-zone input {
    background-color: transparent;
    font-family: sans-serif;
    position: absolute;
    top: 15px;
    left: 60px;
    font-size: 20px;
    font-weight: lighter;
}

.mini-logos {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 20px;
    bottom: 10px;
    left: 30px;
}

.mini-logos img {
    margin-left: 20px;
    cursor: pointer;
}

.text-zone button {
    width: 90px;
    height: 40px;
    position: relative;
    bottom: -20px;
    right: 10px;
    float: right;
    color: #e7e9ea7a;
    background-color: #0f4e78;
    border-radius: 30px;
    font-weight: bolder;
}